<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--如果使用Mybatis的DAO接口动态代理，则namespace必须为DAO接口的全路径-->
<mapper namespace="lyc.java.SSM.dao.UserMapper">
    <select id="selectUser" parameterType="java.lang.Integer" resultType="lyc.java.SSM.POJO.User">
        select *from user where id=#{id}
    </select>

    <!--${}拼接sql串，接收参数的内容，${}中只能使用value，存在sql漏洞-->
    <select id="selectUserByName" parameterType="java.lang.String" resultType="lyc.java.SSM.POJO.User">
        SELECT *FROM USER WHERE name LIKE '%${value}%'
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="lyc.java.SSM.POJO.User">
        <!-- 实际应用开发中，应是 自增id + 生成uid(主键)
            useGeneratedKeys：获取数据库内部生产的自增类型主键，默认为false
            keyProperty：数据库内部生产的主键赋值给POJO的某个属性，执行插入时，从parameterType（POJO）的Id里面取出来插入
            keyColumn：用于指定数据表中的主键，如果表中指定了主键，可省略
            selectKey标签：返回数据生成的主键
            order：指SELECT LAST_INSERT_ID()相对于insert执行顺序，mysql使用AFTER，oracle使用BEFORE
            mysql的UUID生成：INSERT INTO xxx (UUID, xxx) VALUES (REPLACE(UUID(),"-",""),xxx)

            返回自增类型主键：使用useGeneratedKeys，keyProperty，keyColumn三者配合这套，不用selectKey标签
            返回非自增类型主键：使用keyColumn、keyProperty二者配合这套，与自增主键中含义一样
        -->
<!--        <selectKey order="BEFORE" resultType="int">
            SELECT UUID()
        </selectKey>-->

        INSERT INTO user (name,age,score) VALUES(#{name},#{age},#{score})

        <!--        <selectKey order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>-->
        </insert>

    <!-- 根据id删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user WHERE id=#{id}
    </delete>

    <!-- 根据id更新用户
        传入用户id以及相关更新信息
        #{id}:从输入的user对象中获取user的属性值
    -->
<!--    <update id="updateUser" parameterType="com.sw.po.User">
        UPDATE USER SET username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} WHERE id=#{id}
    </update>-->
</mapper>